#filter-section {
  padding: 30px 0;
  background: #eee;
  .wrapper {
    width: 1100px;
    margin: 0 auto;
    .filter-search {
      margin-bottom: 1.5rem;
      form {
        position: relative;
        #search {
          color: black;
          font-size: 1.1rem;
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
          padding: 20px;
          width: 100%;
          border: none;
          outline: none;
          box-shadow: 0px 7px 14px -10px rgba(0, 0, 0, 0.5);
        }
        .suggestions {
          font-family: 'Roboto Slab', serif;
          position: absolute;
          list-style: none;
          top: 100%;
          width: 100%;
          z-index: 10;
          li {
            background: #fff;
            padding: 15px 25px;
            &:hover {
              background: rgb(20, 147, 188);
              color: #fff;
              cursor: pointer;
            }
          }
        }
        .no-suggestions {
          font-family: 'Roboto Slab', serif;
          position: absolute;
          top: 100%;
          width: 100%;
          z-index: 10;
          padding: 15px 25px;
          background: #fff;
          user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }
      }
    }
    .filter-menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      .filter-box {
        position: relative;
        padding: 20px;
        border: 1px solid lightgrey;
        text-transform: uppercase;
        font-size: 0.7rem;
        color: rgb(126, 126, 126);
        font-family: 'Roboto Slab', serif;
        font-weight: 600;
        letter-spacing: 0.7px;
        transition: all 0.1s ease;
        label {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
        input {
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
        }
        &:hover {
          cursor: pointer;
          border-color: rgb(185, 185, 185);
          color: rgb(20, 147, 188);
        }
        i {
          font-size: 17px;
          margin-right: 15px;
        }
      }
      .filter-box:nth-of-type(3) {
        i {
          margin-right: 0;
        }
        i:nth-of-type(2) {
          margin-right: 5px;
        }
      }
    }

    .more-filter {
      .extra-filter-toggle {
        display: block;
        position: relative;
        margin: 20px 0 0;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Roboto Slab', serif;
        color: rgb(70, 70, 70);
        cursor: pointer;
        i {
          margin-left: 10px;
        }
      }
      .hidden {
        position: absolute;
        left: -100vw;
      }
      .extra-filter {
        height: 0px;
        overflow: hidden;
        transition: 0.5s all ease;
      }
      #toggle:checked ~ .extra-filter {
        height: 100px;
      }
      #toggle:checked + label:after {
        content: 'Färre sökfilter';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #eee;
      }
    }

    .filter-menu-extra {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      .rooms {
        display: flex;
        .pricetag {
          margin-left: 20px;
        }
        label {
          display: block;
          color: rgb(70, 70, 70);
          margin-bottom: 5px;
          font-family: 'Roboto Slab', sans-serif;
          font-weight: 600;
          font-size: 13px;
        }
        select {
          padding: 6px 5px;
          min-width: 180px;
          font-family: 'Roboto Slab', sans-serif;
          border-radius: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  #filter-section {
    padding: 20px 0;
    .wrapper {
      max-width: 93%;
      .filter-search {
        form {
          #search {
            font-size: 16px;
          }
        }
      }
      .filter-menu {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    .menu {
      display: none;
    }
  }

  #filter-section {
    .wrapper .more-filter {
      #toggle:checked ~ .extra-filter {
        height: 170px;
      }
    }
    .wrapper {
      .filter-menu-extra {
        .rooms {
          flex-direction: column;
          .pricetag {
            margin: 20px 0 0 0;
          }
        }
      }
      .filter-menu {
        .filter-box {
          padding: 15px;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

::placeholder {
  color: rgb(61, 61, 61);
}
