#footer {
  padding: 3.5rem 0 6rem;
  background: #28364a;
  .wrapper {
    width: 1100px;
    margin: 0 auto;
    .footer-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .footer-contact {
        h2 {
          padding-bottom: 5px;
          text-transform: uppercase;
          font-size: 18px;
          max-width: 250px;
          color: #fff;
        }
        ul {
          font-family: 'Roboto Slab', serif;
          margin: 10px 0 0 0;
          color: #fff;
          li {
            list-style-type: none;
            margin: 15px 0;
            font-size: 15px;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .footer-social {
        h2 {
          padding-bottom: 5px;
          text-transform: uppercase;
          font-size: 18px;
          max-width: 250px;
          color: #fff;
        }
        ul {
          font-family: 'Roboto-Slab';
          margin: 1rem 0 0 0;
          li {
            display: inline-block;
            list-style-type: none;
            margin: 0 5px;
            color: #fff;
            a {
              color: #fff;
              i {
                margin-right: 10px;
                font-size: 30px;
              }
            }
          }
          li:first-of-type {
            margin-left: 0;
          }
        }
      }
      .footer-about {
        h2 {
          padding-bottom: 15px;
          // border-bottom: 1px solid rgb(180, 180, 180);
          margin-bottom: 15px;
          max-width: 250px;
          color: #fff;
        }
        p {
          color: #fff;
          line-height: 24px;
          font-size: 15px;
          font-family: 'Roboto Slab', serif;
        }
      }
    }
  }
}

@media (max-width: 1120px) {
  #footer {
    .wrapper {
      width: 97%;
      margin: 0 auto;
      .footer-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 0;
        justify-items: center;
        .footer-social {
          margin-left: 30px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #footer {
    .wrapper {
      width: 97%;
      .footer-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 0;
        justify-items: center;
      }
    }
  }
}

@media (max-width: 500px) {
  #footer {
    .wrapper {
      width: 93%;
      .footer-grid {
        grid-template-columns: 1fr;
        grid-gap: 25px;
        justify-items: start;
        .footer-contact,
        .footer-social {
          ul {
            padding: 0;
          }
        }
        .footer-social {
          margin-left: 0;
        }
      }
    }
  }
}
