#item {
  padding: 50px 0;
  .wrapper {
    max-width: 1024px;
    width: 1024px;
    margin: 0 auto;
    .item-container {
      max-width: 700px;
      margin: 0 auto;
      .image {
        background: grey;
        width: 100%;
        height: 460px;
      }
      .item-text {
        .item-text-header {
          display: flex;
          justify-content: space-between;
          padding: 15px;
          border-bottom: lightgrey 1px solid;
          .address {
            h3 {
              font-size: 25px;
              margin-bottom: 4px;
            }
            p {
              font-family: 'Roboto Slab', sans-serif;
              font-size: 14px;
              font-weight: 300;
            }
          }
          .price {
            h4 {
              font-size: 18px;
              font-weight: 400;
              padding-right: 25px;
            }
          }
        }
        .item-text-body {
          display: grid;
          grid-template-columns: 55% 1fr;
          grid-gap: 20px;
          padding: 15px;
          .info {
            p {
              font-family: 'Roboto Slab', sans-serif;
              font-weight: 400;
              font-size: 14px;
              line-height: 23px;
            }
          }
          .facts {
            align-items: center;
            table {
              margin: 0 auto;
              font-family: 'Roboto Slab', sans-serif;
              border-collapse: collapse;
              font-size: 14px;
              td {
                padding-bottom: 15px;
                font-weight: 300;
                &:nth-of-type(even) {
                  padding-left: 35px;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
    .map-container {
      padding-top: 40px;
      .map-text {
        padding-bottom: 40px;
        h3 {
          text-align: center;
          font-size: 24px;
        }
      }
    }
  }
}

.leaflet-container {
  width: 100%;
  height: 320px;
}

@media (max-width: 500px) {
  #item {
    .wrapper {
      max-width: 95%;
      .item-container {
        .image {
          height: 250px;
        }
        .item-text {
          .item-text-header {
            flex-direction: column;
            .price {
              margin-top: 5px;
              h4 {
                font-size: 21px;
              }
            }
          }
          .item-text-body {
            grid-template-columns: 1fr;
            .facts {
              grid-row: 1 / 2;
              table {
                margin: 0;
              }
            }
          }
        }
      }
      .map-container {
        .map-text {
          h3 {
            font-size: 20px;
          }
        }
        .map {
          .leaflet-container {
            height: 490px;
          }
        }
      }
    }
  }
}
