#login {
  padding: 30px 20px 100px;
  background: #eeeeee;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  .container {
    .login-box {
      background: white;
      padding: 30px 50px;
      width: 50%;
      margin: 0 auto;

      h3 {
        margin-bottom: 4rem;
        font-size: 35px;
        font-weight: 500;
      }
      h3.skapa-konto {
        margin-bottom: 3rem;
      }
      p {
        font-weight: 400;
        margin-bottom: 2rem;
        font-size: 0.9rem;
      }
      form {
        .input-details {
          display: flex;
          flex-direction: column;
          input {
            width: 100%;
            border: none;
            border-bottom: 1px solid lightgrey;
            padding: 10px;
            color: grey;
          }
          #email {
            margin-bottom: 2rem;
          }
          #password2 {
            margin-top: 2rem;
          }
        }
        .remember-me {
          display: flex;
          align-items: baseline;
          margin-bottom: 2rem;
          label {
            margin-left: 10px;
            font-size: 14px;
            font-weight: 300;
            color: black;
          }
        }
        .login {
          text-transform: uppercase;
          background: #000000;
          border: none;
          color: #fff;
          padding: 15px 120px;
          font-size: 0.7rem;
          font-weight: bold;
          margin: 20px 0 1rem;
          cursor: pointer;
          &:hover {
            background: rgb(41, 41, 41);
          }
        }
      }
      a.forgot {
        color: #000;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #login .container .login-box {
    width: 100%;
  }

  .favorites {
    .favorite-container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 50px;
      max-width: 95%;
    }
  }
}

@media screen and (max-width: 500px) {
  #login .container .login-box {
    form .login {
      width: 100%;
      padding: 20px; 
    }
  }
}
