.result-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1475px;
  padding: 25px 0;
  margin: 0 auto;
  select {
    padding: 16.5px 10px;
    width: 200px;
    font-size: 1rem;
    font-family: 'Roboto Slab', sans-serif;
  }
  .map {
    font-family: 'Roboto Slab', sans-serif;
    cursor: pointer;
    padding: 15px 20px;
    background: rgb(20, 147, 188);
    a {
      color: #fff;
      padding: 19px 0px 16px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      i {
        font-size: 16px;
      }
      span {
        margin-left: 15px;
      }
    }
    &:hover {
      background: rgb(17, 135, 175);
    }
  }
}

.MapPage {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1516px;
    margin: 0 auto;
    .items {
      padding: 0 20px 0 20px;
      background: #fff;
      margin-bottom: 220px;
      .home-link {
        text-decoration: none;
        color: #000;
      }
      .home-item {
        display: grid;
        grid-template-columns: 30% 1fr;
        margin-top: 20px;
        height: 150px;
        background: #fff;
        box-shadow: 0px 1px 10px -5px rgba(0, 0, 0, 0.5);
        z-index: 100;

        .img {
          overflow: hidden;
          img {
            transition: 0.3s transform ease;
            width: 100%;
            height: 100%;
          }
        }
        .text {
          padding: 15px 20px;
          font-family: 'Roboto Slab', serif;
          h4 {
            font-size: 20px;
            margin-bottom: 5px;
          }
          span {
            display: block;
            margin-bottom: 5px;
          }
          .text-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
    .map-container {
      height: 100vh;
      width: 100%;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      margin-bottom: 80px;
      .leaflet-container {
        height: 100vh;
        width: 100%;
      }
    }
  }
}

.marker-pin {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50% 50% 50% 0;
  background: #1493bc;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  transition: 0.4s all ease;
}
// to align icon
.custom-div-icon i {
  position: absolute;
  color: #fff; //rgb(51, 51, 51);
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

@media (max-width: 500px) {
  .result-menu {
    max-width: 100%;
    select {
      margin: 0 0 22px 8px;
      padding: 12.5px 10px;
      width: 170px;
    }
    .map {
      padding: 14px;
      margin-right: 6px;
      a {
        font-size: 14px;
      }
    }
  }

  .MapPage {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      width: 100%;
      .map-container {
        position: static;
        grid-row: 1 / 2;
        height: auto;
        margin-bottom: 30px;
        .leaflet-container {
          height: 700px;
        }
      }
      .items {
        grid-row: 2 / 3;
        padding: 0 8px;
        margin-bottom: 150px;
        .home-item {
          height: inherit;
          grid-template-columns: 1fr;
          .text {
            h4 {
              font-size: 16px;
              margin-bottom: 1px;
            }
            span {
              font-size: 14px;
            }
            .text-info {
              grid-template-columns: repeat(2, 1fr);
              color: #000 !important;
              .info-type,
              .info-size,
              .info-price {
                font-size: 14px;
              }
            }
          }
          .img {
            height: 142px;
            img {
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
