@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Roboto+Slab:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

@import 'header';
@import 'filter';
@import 'results';
@import 'item';
@import 'mappage';
@import 'login';
@import 'profile';
@import 'footer';
