#results {
  margin-top: 5rem;
  margin-bottom: 200px;
  font-family: 'Roboto Slab', serif;
  .wrapper {
    width: 1100px;
    margin: 0 auto;
    p {
      margin-bottom: 14px;
      font-weight: 300;
      span {
        font-weight: 700;
      }
    }
    .result-menu {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      select {
        margin-bottom: 22px;
        padding: 16.5px 10px;
        width: 200px;
        font-size: 1rem;
        font-family: 'Roboto Slab', sans-serif;
      }
      .map {
        a {
          color: rgb(31, 31, 31);
          padding: 16.5px 10px;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          i {
            font-size: 25px;
          }
          span {
            margin-left: 8px;
          }
        }
      }
    }

    .results-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;

      .result-link {
        text-decoration: none;
      }
      .result {
        display: flex;
        flex-direction: column;
        height: 400px;
        box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.5);
        &:hover {
          cursor: pointer;
        }
        .image {
          height: 216px;
          width: 100%;
          .img {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 100%;
          }
        }
        .info {
          color: #4d4d4d;
          padding: 25px 25px 67px 25px;
          h5 {
            margin-bottom: 6px;
          }
          h2 {
            margin-bottom: 20px;
          }
          &-facts {
            display: flex;
            justify-content: space-between;
            width: 90%;
            span {
              i {
                margin-right: 10px;
                align-self: center;
              }
            }
            span:first-of-type {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
    .pagination {
      margin-top: 2.5rem;
      display: flex;
      justify-content: center;
      div {
        font-size: 0.9rem;
        margin: 0 8px;
        cursor: pointer;
      }
      .page-num {
        border: 1px solid lightgrey;
        padding: 15px 25px;
        position: relative;
        &:hover {
          border-color: rgb(165, 165, 165);
        }
      }
      .page-btn {
        padding: 15px 20px;
        color: grey;
        transition: 0.2s background ease-in-out;
      }
      .page-prev {
        i {
          margin-right: 8px;
        }
        transition: 0.3s color ease;
        &:hover {
          color: #000;
        }
      }
      .page-next {
        i {
          margin-left: 8px;
        }
        transition: 0.3s color ease;
        &:hover {
          color: #000;
        }
      }
    }
    .button-div {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      .show-more {
        cursor: pointer;
        padding: 15px 20px;
        background: rgb(20, 147, 188);
        color: #fff;
      }
    }
  }
}
